<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 5.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-5.0.dtd">
<hibernate-configuration>
    <session-factory>
    
        <!-- LA LÍNEA MÁS IMPORTANTE: RUTA ABSOLUTA PARA TU COMPUTADORA -->
        <property name="hibernate.connection.url">jdbc:sqlite:D:/Universidad/Semestre 7/EvoSoftInteligente/Project-AbarrotesFinal/Project-AbarrotesFinal/Project-Abarrotes-Remake-main-2/SQLite3DB/abarrotes.db</property>
        
        <!-- Estas propiedades ya estaban bien -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
    
        <!-- Mappings de tus entidades (estos no cambian) -->
        <mapping resource="Mapeos/Empleado.hbm.xml"/>
        <mapping resource="Mapeos/Producto.hbm.xml"/>
        <mapping resource="Mapeos/Empresa.hbm.xml"/>
        <mapping resource="Mapeos/Cliente.hbm.xml"/>
        <mapping resource="Mapeos/Paquete.hbm.xml"/>
        <mapping resource="Mapeos/Proveedor.hbm.xml"/>
        <mapping resource="Mapeos/Pedido.hbm.xml"/>
        <mapping resource="Mapeos/Inventario.hbm.xml"/>
        <mapping resource="Mapeos/Estado.hbm.xml"/>
        <mapping resource="Mapeos/Compra.hbm.xml"/>
        
    </session-factory>
</hibernate-configuration>